<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ErmakovAppDiplom</title>
    <link href="~/css/index.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ErmakovAppDiplom.styles.css" asp-append-version="true" />
</head>
<body>
    <header> 
        <div class="container header-container">
            <div style="gap: 1.5rem; align-items: center; display: flex">
                <a asp-action="Index" asp-controller="Home" class="logoLink">
                    <span class="logoSpan">АВТОПАРТНЕР</span>
                </a>
                <nav class="navBar">

                    <a asp-controller="Home" asp-action="Index" class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" ? "active" : "")">
                        Главная
                    </a>

                    <a class="nav-link">Оборудование</a>
                    <a class="nav-link">Карта офиса</a>
                    <a class="nav-link">Пользователи</a>
                    <a class="nav-link">Настройки</a>
                </nav>
            </div>
            <div style="align-items: center; display: flex">
                <div style="display: block">
                    <svg class="icon search-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"  data-component-line="61" data-component-content="%7B%22className%22%3A%22absolute%20left-3%20top-1%2F2%20transform%20-translate-y-1%2F2%20text-gray-400%20h-4%20w-4%22%7D"><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path></svg>
                    <input type="text" name="search" value="" class="search-input" placeholder="Поиск..." />
                </div>
                <button class="btn notification-button">
                    <svg class="icon2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-component-line="44" data-component-content="%7B%22className%22%3A%22h-5%20w-5%20text-muted-foreground%22%7D"><path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9"></path><path d="M10.3 21a1.94 1.94 0 0 0 3.4 0"></path></svg>
                </button>
                <div class="nav-right-btns">
                    <button class="btn ">
                        <svg class="icon2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-component-line="42" data-component-content="%7B%22className%22%3A%22h-5%20w-5%20text-muted-foreground%22%7D"><path d="M12 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.375 2.625a1 1 0 0 1 3 3l-9.013 9.014a2 2 0 0 1-.853.505l-2.873.84a.5.5 0 0 1-.62-.62l.84-2.873a2 2 0 0 1 .506-.852z"></path></svg>
                    </button>
                    <button class="btn ">
                        <svg class="icon2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-component-line="81" data-component-content="%7B%22className%22%3A%22h-5%20w-5%20text-muted-foreground%22%7D"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                    </button>
                </div>
            </div>
        </div>
        @*
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Index" asp-controller="User">Пользователи</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Index" asp-controller="Category">Категории</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Index" asp-controller="EquipmentItem">Инвентарь</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Index" asp-controller="Attribute">Атрибуты</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Index" asp-controller="ToDoList">Список задач</a>
                            </li>
                            *@
    </header>


    <main class="container">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ErmakovAppDiplom - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
