.Card {
    border-radius: .5rem;
    border-width: 1px;
    background-color: white;
}

.card-header {
    padding: 1.5rem;
    padding-bottom: .5rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex;
}
    .card-header h3 {
        letter-spacing: -.025em;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin: 0;
    }

    .card-header p {
        font-size: .875rem;
        line-height: 1.25rem;
        margin: 0;
        color: #6b7280;
    }
.functional-buttons-container {
    display: flex;
    gap: .5rem;
    margin-bottom: .375rem;
    margin-top: .375rem;
}
    .functional-buttons-container button {
        font-weight: 500;
        font-size: .875rem;
        line-height: 1.25rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: white;
        border-color: #e2e8f0;
        border-width: 1px;
        border-radius: calc(.5rem - 2px);
        white-space: nowrap;
        gap: .5rem;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        display: inline-flex;
    }
.tabs-container {
    color: #64748b;
    padding: .25rem;
    background-color: #f1f5f9;
    border-radius: calc(.5rem - 2px);
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    display: grid;
    margin-bottom: 1rem;
}
.floor-button {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: .375rem;
    padding-bottom: .375rem;
    padding-left: .75rem;
    padding-right: .75rem;
    border-radius: calc(.5rem - 4px);
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    color: #6b7280;
    font-weight: 600;
}
    .floor-button.active {
        color: black;
        background-color: white;
        color: black;
    }
.tab-content{
    margin-top: .5rem;
}
.tab-map-content {
    height: 600px;
    width: 100%;
    background-color: white;
    border-color: #d1d5db;
    border-width: 1px;
    border-radius: .5rem;
    position: relative;
}
.map {
    background-color: #f9fafb;
    padding: 1rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}
    .map .content {
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: .5rem;
        border-width: 4px;
        border-color: #d1d5db;
        background-color:white;

    }
.location {
    border-color: #9ca3af;
    border-width: 2px;
    border-radius: calc(.5rem - 2px);
    position: absolute;
    background-color: white;
    cursor: move;
    z-index: 1;
}
.location-name {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 600;
    left: .25rem;
}