#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: .5rem;
    --tw-bg-opacity: 1;
}
*, :before, :after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

body {
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    background-color: rgb(243 244 246);
    color: #64748b;
}

header {
    background-color: #fff9;
    border-bottom: 1px solid #e5e7eb;
    position: sticky;
}

button{
    cursor: pointer;
}


a {
    text-decoration: none;
    color: #9ca3af;
    cursor: pointer;
}

main {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    flex: 1 1 0%;
    max-width: 1400px;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 4rem;
    width: 100%;
    max-width: 1400px;
}

.logoLink {
    align-items: center;
    display: flex;
}

.logoSpan {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    background: linear-gradient(90deg,rgba(37, 99, 235, 1) 0%, rgba(147, 51, 234, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(37, 99, 235, 1);
}

.navBar {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-link {
    color: #64748b;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 0;
}

    .nav-link.active {
        font-weight: 500;
        color: #0f172a
    }

.icon {
    height: 1rem;
    width: 1rem;
    color: #9ca3af;
}

.icon2 {
    height: 1rem;
    width: 1rem;
    color: #64748b;
}

.btn {
    border: none;
    background-color: #f9fafb80;
    color: #9ca3af;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    display: inline-flex;
}
    .btn:hover {
        background-color: #f1f5f9;
    }

.search-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 12px;
}

.search-input {
    font-size: .875rem;
    line-height: 1.25rem;
    padding-right: 1rem;
    padding-left: 2.25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #f9fafb80;
    width: 16rem;
    border: solid;
    border-radius: 9999px;
    border-width: 1px;
    border-color: #e5e7eb;
}

.notification-button {
    margin-right: calc(1rem* 0);
    margin-left: calc(1rem* calc(1 - 0));
    display: inline-flex;
}

.nav-right-btns {
    margin-right: calc(1rem * 0);
    margin-left: calc(1rem* calc(1 - 0));
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.login-input {
    margin-top: calc(.5rem* calc(1 - 0));
    margin-bottom: calc(.5rem* 0);
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: calc(.5rem - 2px);
    width: 100%;
    height: 2.5rem;
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.submit-button {
    box-sizing: border-box;
    border-style: solid;
    border-color: hsl(var(--border));
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    margin: 0;
    text-transform: none;
    -webkit-appearance: button;
    background-image: none;
    cursor: pointer;
    display: inline-flex;
    height: 2.5rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    white-space: nowrap;
    border-radius: calc(.5rem - 2px);
    --tw-bg-opacity: 1;
    background-color: rgb(59,130,246);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    transition-duration: .15s;
    color: white;
}

.popover {
    margin-left: -100px;
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    width: 250px;
}